* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out, color 0.3s linear;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

:root {
    --primary: #4F46E5;
    --primary-hover: #4338CA;
    --secondary: #10B981;
    --bg: #F9FAFB;
    --surface: #FFFFFF;
    --text-main: #111827;
    --text-muted: #4B5563;
    --text-reverse: #FFFFFF;
    --border: #E5E7EB;
    --error: #EF4444;
    --warning: #FBBF24;
    --info: #60A5FA;
}

body {
    background-color: var(--bg)
}


.btn:focus {
    box-shadow: none;
}

.btl-card {
    background: var(--surface);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
}

    .title p {
        color: var(--primary);
        font-weight: 700;
        font-size: 26px;
        margin: 0;
    }

#search-box:focus {
    box-shadow: none;
    border: 1px solid var(--primary-hover);
}

.btn.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn:hover {
    background-color: var(--primary-hover);
    color: #FFFFFF;
}

.toggle-sidebar-btn {
    border: 1px solid var(--border);
    border-radius: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
    padding: 10px;
}

.toggle-sidebar-btn:hover {
    color: var(--primary-hover);
}

.sidebar.closed {
    width: 0;
}


.sidebar.closed * {
    display: none;
}

/* Overlay mờ nền */
.float-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    z-index: 9999;
}

/* Box chứa bảng */
.float-box-box {
    background: var(--surface);
    width: min(100%, 1200px);
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--border);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow-y: auto;
}

/* Header */
.float-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.float-box-header h4 {
    color: var(--primary);
    margin: 0;
}

/* Nút đóng */
.float-box-header .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-main);
    cursor: pointer;
}

.float-box-header .close-btn:hover {
    color: var(--error);
}