* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out, color 0.3s linear;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

:root {
    --primary: #4F46E5;
    --primary-hover: #4338CA;
    --secondary: #10B981;
    --bg: #F9FAFB;
    --surface: #FFFFFF;
    --text-main: #111827;
    --text-muted: #4B5563;
    --text-reverse: #FFFFFF;
    --border: #E5E7EB;
    --error: #EF4444;
    --warning: #FBBF24;
    --info: #60A5FA;
}

.btn:focus {
    box-shadow: none;
}
