<div class="container py-4">
    <div class="btl-card">
        <div class="title row align-items-center g-2">
            <div class="col-12 col-md-8">
                <p class="m-0">Đăng ký khóa học mới</p>
            </div>

            <div class="col-12 col-md-4 text-md-end">
                <input type="text" id="search-box" class="form-control"
                    placeholder="Tìm kiếm..." />
            </div>
        </div>

        <div class="component-container" hx-get="/Components/Datagrid" hx-vals='{"Id": "dgCourse"}' hx-trigger="revealed" data-on-load="onLoadDgCourse"></div>

        <div class="component-container" hx-get="/Components/Pagination" hx-vals='{"Id": "pagDgCourse"}' hx-trigger="revealed" data-on-load="onLoadCoursePagination"></div>
    </div>
</div>

<style>

.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
}

.title p {
    color: var(--primary);
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

#search-box:focus {
    box-shadow: none;
    border: 1px solid var(--primary-hover);
}

.btn:hover {
    background-color: var(--primary-hover);
    color: #FFFFFF;
}
</style>

<script>
    function Test(currentPage) {
        ActiveModal('modal', 'Thông báo', 'Trang hiện tại là: ' + currentPage);
    }

    function onLoadCoursePagination() {
        renderPagination("pagDgCourse", 21, "Test");
    }

    function onLoadDgCourse() {
        const headers = [
            "ID",
            "Tên khóa học",
            "Mô tả",
            "Số buổi học",
            "Học phí"
        ];

        renderDatagridHeader("dgCourse", headers, true);

        var data = [
            {
                ID: "1",
                "Tên khóa học": "IELTS Foundation",
                "Mô tả": "Mô tả",
                "Số buổi học": 10,
                "Học phí": 1000000
            },
            {
                ID: "2",
                "Tên khóa học": "TOEIC Intensive",
                "Mô tả": "Mô tả",
                "Số buổi học": 10,
                "Học phí": 1000000
            }
        ];

        fillDatagrid("dgCourse", data, true);

        fillDatagridAction("dgCourse", [
            { 
                text: "Chi tiết", 
                iconClass: "fa-solid fa-info", 
                onClick: function() { alert("Clicked Chi tiết"); } 
            },
            { 
                text: "Đăng ký", 
                iconClass: "fa-solid fa-arrow-right-to-bracket", 
                onClick: function() { alert("Clicked Đăng ký"); } 
            }
        ]);
    }

</script>