<div class="container py-4">
    <div class="btl-card">
        <div class="title row align-items-center g-2">
            <div class="col-12 col-md-8">
                <p class="m-0">Đăng ký khóa học mới</p>
            </div>

            <div class="col-12 col-md-4 text-md-end">
                <input type="text" id="search-box" class="form-control"
                    placeholder="Tìm kiếm..." />
            </div>
        </div>

        <div class="component-container" hx-get="/Components/Datagrid" hx-vals='{"Id": "dgCourse"}' hx-trigger="revealed" data-on-load="initialize"></div>

        <div class="component-container" hx-get="/Components/Pagination" hx-vals='{"Id": "pagDgCourse"}' hx-trigger="revealed" data-on-load="onLoadCoursePagination"></div>
    </div>

    <div id="details" class="float-box-overlay">
        <div class="float-box-box">

            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Chi tiết khóa học</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('details')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="float-box-content row g-3">
                <div class="col-md-6">
                    <label class="btl-label">Mã khóa học</label>
                    <p id="id-display" class="btl-view">student01</p>
                </div>

                <div class="col-md-6">
                    <label class="btl-label">Tên khóa học</label>
                    <p id="name-display" class="btl-view">student01</p>
                </div>

                <div class="col-md-6">
                    <label class="btl-label">Số buổi học</label>
                    <p id="numberoflessons-display" class="btl-view">student01</p>
                </div>

                <div class="col-md-6">
                    <label class="btl-label">Học phí</label>
                    <p id="fee-display" class="btl-view">student01</p>
                </div>

                <div class="col-md-12">
                    <label class="btl-label">Mô tả</label>
                    <p id="desc-display" class="btl-view">student01</p>
                </div>
            </div>
        </div>
    </div>
</div>
    
<style>

.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
}

.title p {
    color: var(--primary);
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

#search-box:focus {
    box-shadow: none;
    border: 1px solid var(--primary-hover);
}

.btn:hover {
    background-color: var(--primary-hover);
    color: #FFFFFF;
}

.btl-label {
    color:var(--text-main);
    font-weight: 600;
    font-size: 14px;
}

.btl-view {
    padding: 8px 0;
    margin: 0;
    color: var(--text-muted);
}
</style>
<script type="module">
    inactiveFloatBox('details');

    import CourseService from "../../js/API/CourseService.js";
    import EnrollmentService from "../../js/API/EnrollmentService.js";
    import { getStudentID } from "../../js/Utils/getCookies.js";
    let currentPage = 1;
    const pageSize = 10;
    let totalPages = 0;
    let currentKeyword = "";
     async function calculateTotalPages(keyword = "") {
        try {
            const response = await CourseService.getAllCourses(keyword, -1, pageSize);
            const totalCourses = response.length;
            totalPages = Math.ceil(totalCourses / pageSize);
            renderPagination("pagDgCourse", totalPages, "onPageChange");
        } catch (error) {
            console.error("Error calculating total pages:", error);
        }
    }
    async function onSearch() {
        const searchBox = document.getElementById("search-box");
        currentKeyword = searchBox.value.trim();
        currentPage = 1;
        await calculateTotalPages(currentKeyword);
        await onLoadDgCourse(currentKeyword, currentPage);
    }
    function renderCourseHeader(){
         const headers = [
            "Mã khóa học",
            "Tên khóa học",
            "Mô tả",
            "Số buổi học",
            "Học phí"
        ];

        renderDatagridHeader("dgCourse", headers, true);
    }
    async function onLoadDgCourse(keyword = "", pageNumber = 1) {
        try {
            const response = await CourseService.getAllCourses(keyword, pageNumber, pageSize);
            const data = response
            .filter(course => course.status === true)
            .map(course => ({
                "Mã khóa học": course.id,
                "Tên khóa học": course.name,
                "Mô tả": course.description,
                "Trạng thái": "Không hoạt động",
                "Số buổi học": course.numberOfLessons,
                "Học phí": course.fee
            }));

            fillDatagrid("dgCourse", data, true);

            fillDatagridAction("dgCourse", [
                {
                    text: "Chi tiết",
                    iconClass: "fa-solid fa-info",
                    onClick: async function (row) {
                         const courseId = getFirstCellValue(row);

                         const response = await CourseService.getCourseById(courseId);

                         $('#id-display').text(courseId);
                         $('#name-display').text(response.name);
                         $('#numberoflessons-display').text(response.numberOfLessons);
                         $('#fee-display').text(response.fee);
                         $('#desc-display').text(response.description);

                         activeFloatBox("details");
                    }
                },
                {
                    text: "Đăng ký",
                    iconClass: "fa-solid fa-arrow-right-to-bracket",
                    onClick: async function (row) {
                        const newCourseId = getCellValueByColumnIndex(row, 0); // Lấy ID khóa học
                        const newStudentId = getStudentID();

                        var check = await EnrollmentService.getAllEnrollments(newCourseId + " " + newStudentId + " " + "active", -1, -1);
                        
                        if (check.length > 0) {
                            ActiveModal("modal", "Thông báo", "Đăng ký của khóa học đang được xử lý");
                            return;
                        }

                        const now = new Date();

                        const newEnrollment = {
                            id: "", 
                            studentId: newStudentId,
                            courseId: newCourseId,
                            enrollmentDate: now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate(),
                            status: "active",
                            createdBy: newStudentId
                        };

                        var response = await EnrollmentService.addEnrollment(newEnrollment);

                    }
                }
            ]);
        } catch (error) {
            console.error("Error loading courses:", error);
        }
    }
    async function onPageChange(newPage) {
        currentPage = newPage;
        await onLoadDgCourse(currentKeyword, currentPage);
    }
    async function initialize() {
        renderCourseHeader(); 
        await calculateTotalPages();
        await onLoadDgCourse();
        const searchBox = document.getElementById("search-box");
        searchBox.addEventListener("input", debounce(onSearch, 300));
    }
    function debounce(func, wait) {
        let timeout;
        return function (...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    }
    window.initialize = initialize;
    window.onPageChange = onPageChange;
</script>