<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OwlEdu_Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OwlEdu_Manager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true"/>
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    @* <script src="~/js/API/AccountService.js"></script>
    <script src="~/js/API/AuthService.js"></script> *@
    @* <script src="~/js/API/AccountService.js"></script>
    <script src="~/js/API/AccountService.js"></script>
    <script src="~/js/API/AccountService.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)

    @RenderBody()
</body>
</html>

@* <script type="module">
    import AuthService from "/js/API/AuthService.js";
    import { getAuthToken, getUserID, getUserRole, getStudentID, getTeacherID } from "/js/Utils/getCookies.js";
    import CourseService from "/js/API/CourseService.js";
    import ClassAssignmentService from "/js/API/ClassAssignmentService.js";
</script> *@