<div id="scoreboard" class="float-box-overlay">

    <div class="float-box-box">

        <div class="float-box-header">
            <h4><i class="fa-solid fa-list-check"></i> Bảng điểm</h4>
            <button id="close-float-box" class="close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="float-box-content">
            <table class="table float-box-table">
                <thead>
                    <tr>
                        <th>Môn học</th>
                        <th>Điểm giữa kỳ</th>
                        <th>Điểm cuối kỳ</th>
                        <th>Điểm tổng kết</th>
                        <th>Xếp loại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mạng máy tính</td>
                        <td>8.0</td>
                        <td>7.5</td>
                        <td>7.8</td>
                        <td class="grade-A">A</td>
                    </tr>

                    <tr>
                        <td>Cơ sở dữ liệu</td>
                        <td>7.0</td>
                        <td>6.5</td>
                        <td>6.8</td>
                        <td class="grade-B">B</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>