<div class="container py-4">
    <div class="btl-card">
        <div class="title row align-items-center g-2">
            <div class="col-12 col-md-8">
                <p class="m-0">Danh sách đăng ký học</p>
            </div>

            <div class="col-12 col-md-4 text-md-end">
                <input type="text" id="search-box" class="form-control"
                    placeholder="Tìm kiếm..." />
            </div>
        </div>

        <div>
            <div class="col-12 col-md-12" style="margin-bottom: 10px;">
                <button type="button" class="btn btn-primary" onClick="activeFloatBox('create')"><i class="fa-solid fa-plus"></i>    Tạo đăng ký mới</button>
            </div>
        </div>

        <div class="component-container" hx-get="/Components/Datagrid" hx-vals='{"Id": "dgv"}' hx-trigger="revealed" data-on-load="onLoadDg"></div>

        <div class="component-container" hx-get="/Components/Pagination" hx-vals='{"Id": "pag"}' hx-trigger="revealed" data-on-load="onLoadPag"></div>
    </div>
</div>

<div id="details" class="float-box-overlay">
        <div class="float-box-box">

            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Chi tiết khóa học</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('details')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="float-box-content">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="btl-label">Mã đăng ký</label>
                        <p id="enrollmentid-display" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã học viên</label>
                        <p id="studentid-display" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã khóa học</label>
                        <p id="courseid-display" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Ngày đăng ký</label>
                        <p id="enrolldate-display" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Trạng thái</label>
                        <p id="status-display" class="btl-view">student01</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="class-assign" class="float-box-overlay">
        <div class="float-box-box">

            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Gán lớp học có sẵn</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('class-assign')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="float-box-content">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="btl-label">Mã đăng ký</label>
                        <p id="enrollmentid-assign" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã học viên</label>
                        <p id="studentid-assign" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã khóa học</label>
                        <p id="courseid-assign" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <p id="enrolldate-assign" class="btl-view" style="display: none">student01</p>
                        <p id="classid-assign" class="btl-view" style="display: none">student01</p>
                    </div>

                    <div class="col-md-12">
                        <h5 style="color:var(--primary)">Các lớp phù hợp</h5>
                    </div>

                    <div class="col-md-12">
                        <div class="component-container" hx-get="/Components/Datagrid" hx-vals='{"Id": "dgv1"}' hx-trigger="revealed" data-on-load="onLoadDg1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="update" class="float-box-overlay">
        <div class="float-box-box">

            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Chỉnh sửa đăng ký</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('update')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="float-box-content">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="btl-label">Mã đăng ký</label>
                        <p id="enrollmentid-update" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã học viên</label>
                        <p id="studentid-update" class="btl-view">student01</p>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã khóa học</label>
                        <input id="courseid-update" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Ngày đăng ký</label>
                        <input type="date" id="enrolldate-update" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Trạng thái</label>
                            <select id="status-update" name="Role" class="form-control" required>
                                <option value="active">Chưa xử lý</option>
                                <option value="completed">Đã xử lý</option>
                                <option value="cancelled">Đã hủy</option>
                            </select>
                    </div>

                    <div class="col-md-12 text-md-end" style="margin-bottom: 10px;">
                        <button id="update-btn" type="button" class="btn btn-primary" onClick="SubmitUpdate()"><i class="fa-solid fa-pen"></i>    Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create" class="float-box-overlay">
        <div class="float-box-box">

            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Tạo mới đăng ký</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('create')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="float-box-content">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label class="btl-label">Mã khóa học</label>
                        <select id="courseid-create" name="Role" class="form-control" required>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Mã học viên</label>
                        <select id="studentid-create" name="Role" class="form-control" required>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Ngày đăng ký</label>
                        <input type="date" id="enrolldate-create" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="btl-label">Trạng thái</label>
                            <select id="status-create" name="Role" class="form-control" required>
                                <option value="active">Chưa xử lý</option>
                                <option value="completed">Đã xử lý</option>
                                <option value="cancelled">Đã hủy</option>
                            </select>
                    </div>

                    <div class="col-md-12 text-md-end" style="margin-bottom: 10px;">
                        <button id="create-btn" type="button" class="btn btn-primary" onClick="SubmitCreate()"><i class="fa-solid fa-plus"></i>    Tạo mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
}

.title p {
    color: var(--primary);
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

#search-box:focus {
    box-shadow: none;
    border: 1px solid var(--primary-hover);
}

.btn:hover {
    background-color: var(--primary-hover);
    color: #FFFFFF;
}
</style>

<script type="module">
    inactiveFloatBox('details');
    inactiveFloatBox('create');
    inactiveFloatBox('update');
    inactiveFloatBox('class-assign');
    inactiveFloatBox('create')
    import EnrollmentService from "../../js/API/EnrollmentService.js";
    import ClassService from "../../js/API/ClassService.js";
    import ClassAssignmentService from "../../js/API/ClassAssignmentService.js";
    import StudentService from "../../js/API/StudentService.js";
    import CourseService from "../../js/API/CourseService.js";
    window.onLoadDg = onLoadDg;
    window.onLoadPag = onLoadPag;
    // window.SubmitAccount = SubmitAccount;
    window.OnPageChange = OnPageChange;
    // window.SetAccountDetailData = SetAccountDetailData;
    window.SetDetails = SetDetails;
    window.SetUpdate = SetUpdate;
    window.SetAssign = SetAssign;
    window.onLoadDg1 = onLoadDg1;
    window.SubmitUpdate = SubmitUpdate;
    window.SubmitAssignment = SubmitAssignment;
    window.SubmitCreate = SubmitCreate;
    window.SetupStudentAndCourse = SetupStudentAndCourse;
    document.getElementById('search-box').addEventListener('input', async function () {
        const keyword = this.value.trim();
        currentKeyword = keyword;
        await OnPageChange(1);
        await onLoadPag();
    });
    document.getElementById("update-btn").addEventListener("click", async function () {
        SubmitUpdate();
    });
    let currentKeyword = "";
    let currentPage = 1;
    const pageSize = 10;

    await SetupStudentAndCourse();

    async function SetupStudentAndCourse() {
        const students = await StudentService.getAllStudents("", -1, -1);
        const courses = await CourseService.getAllCourses("", -1, -1);

        console.log(students);
        console.log(courses);

        loadOptions(students, 'fullName', 'studentid-create');
        loadOptions(courses, 'name', 'courseid-create'); 
    }

    async function onLoadDg() {
        var headers = ['Mã đăng ký', 'Mã học viên', 'Mã khóa học', 'Ngày đăng ký', 'Trạng thái']
        renderDatagridHeader('dgv', headers, true);
        await OnPageChange(1);
    }
    async function OnPageChange(pageNumber) {
        currentPage = pageNumber;
        const response = await EnrollmentService.getAllEnrollments(currentKeyword,pageNumber, pageSize);
        const data = await Promise.all(response.map(async (enrollment)=>{
            var status;
            switch(enrollment.status) {
                case 'active':
                    status = 'Chưa xử lý';
                    break;
                case 'completed':
                    status = 'Đã xử lý';
                    break;
                case 'cancelled':
                    status = 'Đã hủy';
                    break;
                default:
                    status = 'Không rõ';
                    break;
            }

            return {
                "Mã đăng ký": enrollment.id,
                "Mã học viên": enrollment.studentId,
                "Mã khóa học": enrollment.courseId,
                "Ngày đăng ký":enrollment.enrollmentDate,
                "Trạng thái":status,
                // "Họ và tên": name,
                // "Tài khoản": account.username,
                // "Vai trò": account.role || "N/A",
                // "Email": account.email || "N/A",
                // "Trạng thái": account.status ? "Active" : "Inactive",
            }
        }));
        await fillDatagrid('dgv', data);
        fillDatagridAction("dgv", [
            {
                text: "Xem chi tiết",
                iconClass: "fa-solid fa-info",
                onClick: function(row) { 
                    SetDetails(row);
                }
            },
            {
                text: "Xếp lớp",
                iconClass: "fa-solid fa-file-signature",
                onClick: async function(row) { 
                    if (getCellValueByColumnIndex(row, 4) == 'Chưa xử lý') {
                        SetAssign(row);
                    }
                    else if (getCellValueByColumnIndex(row, 4) == 'Đã xử lý') {
                        ActiveModal("modal", "Thông báo", "Đăng ký đã được xử lý ");
                    }
                    else {
                        ActiveModal("modal", "Thông báo", "Đăng ký đã được hủy ");
                    }
                }
            },
            {
                text: "Chỉnh sửa thông tin",
                iconClass: "fa-solid fa-pen-to-square",
                onClick: async function(row) {
                    SetUpdate(row);
                }
            },
            {
                text: "Hủy đăng ký",
                iconClass: "fa-solid fa-x",
                onClick: async function(row) {
                    const enrollmentId = getFirstCellValue(row);
                    if (getCellValueByColumnIndex(row, 4) == 'Đã hủy') {
                        ActiveModal("modal", "Thông báo", "Đăng ký đã được hủy");
                    }
                    await EnrollmentService.updateEnrollmentStatus(enrollmentId, 'cancelled');
                    await OnPageChange(currentPage);
                }
            }
        ]);

        await styleStatusColumn('dgv', 4);
    }
    async function onLoadPag() {
        const response = await EnrollmentService.getAllEnrollments(currentKeyword, -1, pageSize);
        const totalRecords = response.length;
        const totalPages = Math.ceil(totalRecords / pageSize);
        renderPagination('pag', totalPages, 'OnPageChange');
    }
    function styleStatusColumn(containerId, index) {
        const $container = $('#' + containerId);
        const $table = $container.find('table.datagrid');
        const $tbody = $table.find('tbody');

        $tbody.find('tr').each(function () {
            const $tr = $(this);
            const $statusTd = $tr.find('td').eq(index);
            const statusText = $statusTd.text().trim();

            $statusTd.css({
                'color': '',
                'font-weight': 'bold'
            });

            switch (statusText) {
                case 'Chưa xử lý':
                    $statusTd.css('color', '#1D4ED8'); //xanh dương
                    break;
                case 'Đã xử lý':
                    $statusTd.css('color', '#10B981'); //xanh lá
                    break;
                case 'Đã hủy':
                    $statusTd.css('color', '#DC2626'); //đỏ
                    break;
                default:
                    $statusTd.css('color', '#6B7280');
            }
        });
    }

    async function SetDetails(row) {
        const enrollmentid = getFirstCellValue(row);
        const studentid = getCellValueByColumnIndex(row, 1);
        const courseid = getCellValueByColumnIndex(row, 2);
        const enrolldate = getCellValueByColumnIndex(row, 3);
        const status = getCellValueByColumnIndex(row, 4);

        $('#enrollmentid-display').text(enrollmentid);
        $('#studentid-display').text(studentid);
        $('#courseid-display').text(courseid);
        $('#enrolldate-display').text(enrolldate);
        $('#status-display').text(status);

        activeFloatBox('details');
    }

    async function SetCreate(row) {

    }

    async function SetAssign(row) {
        const enrollmentid = getFirstCellValue(row);
        const studentid = getCellValueByColumnIndex(row, 1);
        const courseid = getCellValueByColumnIndex(row, 2);
        const enrolldate = getCellValueByColumnIndex(row, 3);

        $('#enrollmentid-assign').text(enrollmentid);
        $('#studentid-assign').text(studentid);
        $('#courseid-assign').text(courseid);
        $('#enrolldate-assign').text(enrolldate);

        activeFloatBox('class-assign');

        SetClassDgv(courseid);
    }

    async function SetUpdate(row) {
        const enrollmentid = getFirstCellValue(row);
        const studentid = getCellValueByColumnIndex(row, 1);
        const courseid = getCellValueByColumnIndex(row, 2);
        const enrolldate = getCellValueByColumnIndex(row, 3);
        console.log(enrolldate);
        var status = getCellValueByColumnIndex(row, 4);

        $('#enrollmentid-update').text(enrollmentid);
        $('#studentid-update').text(studentid);
        $('#courseid-update').val(courseid);
        $('#enrolldate-update').val(enrolldate);
        switch(status) {
            case 'Chưa xử lý':
                status = 'active';
                break;
            case 'Đã xử lý':
                status = 'completed';
                break;
            case 'Đã hủy':
                status = 'cancelled';
                break;
        }
        $('#status-update').val(status);

        activeFloatBox('update');
    }

    function onLoadDg1() {
        var headers = ['Mã lớp', 'Tên lớp', 'Ngày bắt đầu', 'Mã giáo viên']

        renderDatagridHeader('dgv1', headers, true);
    }

    async function SetClassDgv(courseId) {
        const response = await ClassService.getAllClasses(courseId , -1, -1);

        const filteredResponse = response.filter(cls => cls.status === true);

        const data = await Promise.all(filteredResponse.map(async (cls) => {
            return {
                "Mã lớp": cls.id,
                "Tên lớp": cls.name,
                "Ngày bắt đầu": cls.startDate,
                "Mã giáo viên": cls.teacherId
            }
        }));

        await fillDatagrid('dgv1', data, true);

        await fillDatagridAction("dgv1", [
            {
                text: "Chọn lớp",
                iconClass: "fa-solid fa-check", 
                onClick: async function (row) {
                    await SubmitAssignment(getFirstCellValue(row));
                }
            }
        ]);
    }

    async function SubmitUpdate() {
        const data = {
            id: $('#enrollmentid-update').text(),
            studentId: $('#studentid-update').text(),
            courseId: $('#courseid-update').val(),
            enrollmentDate: $('#enrolldate-update').val(),
            status: $('#status-update').val(),
            createdBy: null,
        };

        try {
            await EnrollmentService.updateEnrollment(data.id, data);
            ActiveModal("modal", "Thông báo", "Cập nhật thành công");
            OnPageChange(currentPage);
        }
        catch(error) {
            ActiveModal("modal", "Thông báo", "Cập nhật không thành công");
            console.log(error);
        }
    }

    async function SubmitAssignment(classid) {
        const now = new Date();

        const data = {
            studentId: $('#studentid-assign').text(),
            classId: classid,
            assignedDate: now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate(),
            status: 'learning'
        };

        try {
            await ClassAssignmentService.addClassAssignment(data);
            await EnrollmentService.updateEnrollmentStatus($('#enrollmentid-assign').text(), 'completed');
            ActiveModal("modal", "Thông báo", "Gán lớp thành công");
            OnPageChange(currentPage);
        }
        catch (error) {
            ActiveModal("modal", "Thông báo", "Gán lớp không thành công");
            console.log(error);
        }
    }

    async function SubmitCreate() {
        const data = {
            id: "",
            studentId: $('#studentid-create').val(),
            courseId: $('#courseid-create').val(),
            enrollmentDate: $('#enrolldate-create').val(),
            status: $('#status-create').val(),
            createdBy: null,
        };

        try {
            await EnrollmentService.addEnrollment(data);
            ActiveModal("modal", "Thông báo", "Tạo mới thành công");
            OnPageChange(currentPage);
        }
        catch(error) {
            ActiveModal("modal", "Thông báo", "Tạo mới không thành công");
            console.log(error);
        }
    }
    // function ChangePage(currentPage) {

    // }

    // function onLoadDg() {
    //     var headers = ['Mã đăng ký', 'Mã học viên', 'Mã khóa học', 'Ngày đăng ký', 'Trạng thái']

    //     renderDatagridHeader('dgv', headers, true);

    //     var data = [
    //         {
    //             "Mã đăng ký": "ENR001",
    //             "Mã học viên": "HV001",
    //             "Mã khóa học": "KH001",
    //             "Ngày đăng ký": "2025-01-12",
    //             "Trạng thái": "active"
    //         },
    //         {
    //             "Mã đăng ký": "ENR002",
    //             "Mã học viên": "HV002",
    //             "Mã khóa học": "KH003",
    //             "Ngày đăng ký": "2025-01-18",
    //             "Trạng thái": "completed"
    //         },
    //         {
    //             "Mã đăng ký": "ENR003",
    //             "Mã học viên": "HV001",
    //             "Mã khóa học": "KH004",
    //             "Ngày đăng ký": "2025-01-22",
    //             "Trạng thái": "cancelled"
    //         },
    //         {
    //             "Mã đăng ký": "ENR004",
    //             "Mã học viên": "HV003",
    //             "Mã khóa học": "KH002",
    //             "Ngày đăng ký": "2025-02-01",
    //             "Trạng thái": "active"
    //         },
    //         {
    //             "Mã đăng ký": "ENR005",
    //             "Mã học viên": "HV004",
    //             "Mã khóa học": "KH005",
    //             "Ngày đăng ký": "2025-02-05",
    //             "Trạng thái": "completed"
    //         }
    //     ];


    //     fillDatagrid('dgv', data);

    //     fillDatagridAction("dgv", [
    //         { 
    //             text: "Xem chi tiết", 
    //             iconClass: "fa-solid fa-info", 
    //             onClick: function() { alert("Clicked Chi tiết"); } 
    //         },
    //         { 
    //             text: "Xếp lớp", 
    //             iconClass: "fa-solid fa-file-signature",
    //             onClick: function() { alert("Clicked Chi tiết"); } 
    //         },
    //         { 
    //             text: "Chỉnh sửa thông tin", 
    //             iconClass: "fa-solid fa-pen-to-square", 
    //             onClick: function() { alert("Clicked Chi tiết"); } 
    //         },
    //         { 
    //             text: "Hủy đăng ký", 
    //             iconClass: "fa-solid fa-x",
    //             onClick: function() { alert("Clicked "); } 
    //         }
    //     ]);

    //     styleStatusColumn('dgv');
    // }

    // function onLoadPag() {
    //     renderPagination('pag', 10, 'ChangePage')
    // }

    // function styleStatusColumn(containerId) {
    //     const $container = $('#' + containerId);
    //     const $table = $container.find('table.datagrid');
    //     const $tbody = $table.find('tbody');

    //     $tbody.find('tr').each(function () {
    //         const $tr = $(this);
    //         Lấy cột thứ 4 (index 3, 0-based)
    //         const $statusTd = $tr.find('td').eq(4);
    //         const statusText = $statusTd.text().trim().toLowerCase();

    //         Reset màu mặc định trước
    //         $statusTd.css({
    //             'color': '',
    //             'font-weight': 'bold'
    //         });

    //         Gán màu theo trạng thái
    //         switch (statusText) {
    //             case 'active':
    //                 $statusTd.css('color', '#1D4ED8'); xanh dương
    //                 break;
    //             case 'completed':
    //                 $statusTd.css('color', '#10B981'); xanh lá
    //                 break;
    //             case 'cancelled':
    //                 $statusTd.css('color', '#DC2626'); đỏ
    //                 break;
    //             default:
    //                 $statusTd.css('color', 'var(--text-muted)'); xám cho các trạng thái khác
    //         }
    //     });
    // }


</script>