<div class="container py-4">
    <div class="btl-card">
        <div class="title row align-items-center g-2">
            <div class="col-12 col-md-8">
                <p class="m-0">Danh sách giáo viên</p>
            </div>

            <div class="col-12 col-md-4 text-md-end">
                <input type="text" id="search-box" class="form-control"
                    placeholder="Tìm kiếm..." />
            </div>
        </div>

        <div>
            <div class="col-12 col-md-12" style="margin-bottom: 10px;">
                <button type="button" class="btn btn-primary" onClick="activeFloatBox('createTeacher')"><i class="fa-solid fa-plus"></i>    Tạo giáo viên mới</button>
            </div>
        </div>

        <div class="component-container" hx-get="/Components/Datagrid" hx-vals='{"Id": "dgv"}' hx-trigger="revealed" data-on-load="onLoadDg"></div>

        <div class="component-container" hx-get="/Components/Pagination" hx-vals='{"Id": "pag"}' hx-trigger="revealed" data-on-load="onLoadPag"></div>
    </div>
    <div id="createTeacher" class="float-box-overlay">
        <div class="float-box-box">
            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Tạo giáo viên</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('createTeacher')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="float-box-content">
                <form id="createTeacherForm">
                    <div class="row mb-3">
                        <div style="color: var(--text-main);" class="col-4">
                            <label for="teacherFullName"><strong>Họ và tên:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherFullName" class="form-control" placeholder="Họ và tên" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="color: var(--text-main);" class="col-4">
                            <label for="teacherSpecialization"><strong>Chuyên môn:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherSpecialization" class="form-control" placeholder="Chuyên môn" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="color: var(--text-main);" class="col-4">
                            <label for="teacherQualification"><strong>Trình độ:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherQualification" class="form-control" placeholder="Trình độ" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="color: var(--text-main);" class="col-4">
                            <label for="teacherPhoneNumber"><strong>Số điện thoại:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherPhoneNumber" class="form-control" placeholder="Số điện thoại" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="color: var(--text-main);" class="col-4">
                            <label for="teacherAddress"><strong>Địa chỉ:</strong></label>
                        </div>
                        <div class="col-8">
                            <textarea id="teacherAddress" class="form-control" placeholder="Địa chỉ" required></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div style="color: var(--text-main);" class="col-4">
                            <label for="teacherGender"><strong>Giới tính:</strong></label>
                        </div>
                        <div class="col-8">
                            <select id="teacherGender" class="form-control" required>
                                <option value="male">Nam</option>
                                <option value="female">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary" id="createTeacherButton">Tạo giáo viên</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="detailTeacher" class="float-box-overlay">
        <div class="float-box-box">
            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Thông tin chi tiết giáo viên</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('detailTeacher')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="float-box-content">
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Mã giáo viên:</strong></div>
                    <div class="col-8"><span id="teacherId"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Họ và tên:</strong></div>
                    <div class="col-8"><span id="teacherFullName"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Chuyên môn:</strong></div>
                    <div class="col-8"><span id="teacherSpecialization"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Trình độ:</strong></div>
                    <div class="col-8"><span id="teacherQualification"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Số điện thoại:</strong></div>
                    <div class="col-8"><span id="teacherPhoneNumber"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Địa chỉ:</strong></div>
                    <div class="col-8"><span id="teacherAddress"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Giới tính:</strong></div>
                    <div class="col-8"><span id="teacherGender"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Mã tài khoản:</strong></div>
                    <div class="col-8"><span id="accountId"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Tên tài khoản:</strong></div>
                    <div class="col-8"><span id="accountUsername"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Vai trò:</strong></div>
                    <div class="col-8"><span id="accountRole"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Trạng thái:</strong></div>
                    <div class="col-8"><span id="accountStatus"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Email:</strong></div>
                    <div class="col-8"><span id="accountEmail"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Ngày tạo:</strong></div>
                    <div class="col-8"><span id="accountCreatedAt"></span></div>
                </div>
                <div class="row mb-3" style="color: var(--text-main);">
                    <div class="col-4"><strong>Ngày cập nhật:</strong></div>
                    <div class="col-8"><span id="accountUpdatedAt"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="updateTeacher" class="float-box-overlay">
        <div class="float-box-box">
            <div class="float-box-header">
                <h4><i class="fa-solid fa-list-check"></i> Cập nhật giáo viên</h4>
                <button id="close-float-box" class="close-btn" onClick="inactiveFloatBox('updateTeacher')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="float-box-content">
                <form id="updateTeacherForm">
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherIdInput"><strong>Mã học viên:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherIdInput" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherFullNameInput"><strong>Họ và tên:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherFullNameInput" class="form-control" placeholder="Họ và tên" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherSpecializationInput"><strong>Chuyên môn:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherSpecializationInput" class="form-control" placeholder="Chuyên môn" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherQualificationInput"><strong>Trình độ:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherQualificationInput" class="form-control" placeholder="Trình độ" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherPhoneNumberInput"><strong>Số điện thoại:</strong></label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="teacherPhoneNumberInput" class="form-control" placeholder="Số điện thoại" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherAddressInput"><strong>Địa chỉ:</strong></label>
                        </div>
                        <div class="col-8">
                            <textarea id="teacherAddressInput" class="form-control" placeholder="Địa chỉ" required></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="teacherGenderInput"><strong>Giới tính:</strong></label>
                        </div>
                        <div class="col-8">
                            <select id="teacherGenderInput" class="form-control" required>
                                <option value="male">Nam</option>
                                <option value="female">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label style="color: var(--text-main);" for="accountStatusInput"><strong>Trạng thái tài khoản:</strong></label>
                        </div>
                        <div class="col-8">
                            <select id="accountStatusInput" class="form-control">
                                <option value="active">Kích hoạt</option>
                                <option value="inactive">Vô hiệu hóa</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary" id="saveTeacherButton">Lưu thay đổi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>

.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
}

.title p {
    color: var(--primary);
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

#search-box:focus {
    box-shadow: none;
    border: 1px solid var(--primary-hover);
}

.btn:hover {
    background-color: var(--primary-hover);
    color: #FFFFFF;
}
</style>

<script type="module">
    import TeacherService from "../../js/API/TeacherService.js";
    import AccountService from "../../js/API/AccountService.js";
    window.onLoadDg = onLoadDg;
    window.onLoadPag = onLoadPag;
    window.OnPageChange = OnPageChange;
    inactiveFloatBox('detailTeacher');
    inactiveFloatBox('updateTeacher');
    inactiveFloatBox('createTeacher');
    document.getElementById('search-box').addEventListener('input', async function () {
        const keyword = this.value.trim();
        currentKeyword = keyword;
        await onLoadPag();
        await OnPageChange(1);
    });
    let currentKeyword = "";
    let currentPage = 1;
    const pageSize = 10;
    async function onLoadDg() {
        var headers = ['Mã giáo viên', 'Mã tài khoản', 'Tên giáo viên', 'Chuyên môn', 'Trình độ', 'Số điện thoại', 'Giới tính', 'Trạng thái']
        renderDatagridHeader('dgv', headers, true);
        await OnPageChange(1);
    }
    async function OnPageChange(pageNumber) {
        currentPage = pageNumber;
        const response = await TeacherService.getAllTeachers(currentKeyword,pageNumber, pageSize);
        const data = await Promise.all(response.map(async (teacher)=>{
        const teacherDetail = await TeacherService.getTeacherById(teacher.id);
            return {
                "Mã giáo viên": teacher.id,
                "Mã tài khoản": teacherDetail.accountResponse.id,
                "Tên giáo viên": teacher.fullName,
                "Số điện thoại":teacher.phoneNumber,
                "Tài khoản": teacherDetail.accountResponse.username,
                "Chuyên môn":teacher.specialization,
                "Trình độ": teacher.qualification,
                "Giới tính": teacher.gender,
                "Email": teacherDetail.accountResponse.email || "N/A",
                "Trạng thái": teacherDetail.accountResponse.status ? "Active" : "Inactive",
            }
        }));
        await fillDatagrid('dgv', data);
        await fillDatagridAction("dgv", [
            {
                text: "Chi tiết",
                iconClass: "fa-solid fa-pen-to-square",
                onClick: async function (row) {
                    const teacherId = getCellValueByColumnIndex(row, 0);
                    activeFloatBox('detailTeacher');
                    await SetTeacherDetailData(teacherId);
                }
            },
                {
                text: "Chỉnh sửa",
                iconClass: "fa-solid fa-pen-to-square",
                onClick: async function (row) {
                    const teacherId = getCellValueByColumnIndex(row, 0);
                    activeFloatBox('updateTeacher');
                    await SetUpdateTeacherForm(teacherId);
                }
            },
            {
                text: "Hủy giáo viên",
                iconClass: "fa-solid fa-trash",
                onClick: async function (row) {
                    const teacherId = getCellValueByColumnIndex(row, 0);
                    try {
                        const teacherDetail = await TeacherService.getTeacherById(teacherId);
                        const accountId = teacherDetail.accountResponse.id;
                        if (confirm(`Bạn có chắc chắn muốn hủy giáo viên với tài khoản ${accountId}?`)) {
                            await AccountService.updateAccountStatus(accountId, { status: false });

                            alert("Hủy giáo viên thành công!");
                            await OnPageChange(currentPage);
                        }
                    } catch (error) {
                        console.error("Lỗi khi hủy học viên:", error);
                        alert("Không thể hủy học viên. Vui lòng thử lại.");
                    }
                }
            }
        ]);

        await styleStatusColumn('dgv', 7);
    }
     async function onLoadPag() {
        const response = await TeacherService.getAllTeachers(currentKeyword,-1, 10);
        renderPagination('pag', Math.ceil(response.length / 10), 'OnPageChange');
    }
    function styleStatusColumn(containerId, index) {
        const $container = $('#' + containerId);
        const $table = $container.find('table.datagrid');
        const $tbody = $table.find('tbody');

        $tbody.find('tr').each(function () {
            const $tr = $(this);
            const $statusTd = $tr.find('td').eq(index);
            const statusText = $statusTd.text().trim().toLowerCase();

            $statusTd.css({
                'color': '',
                'font-weight': 'bold'
            });

            switch (statusText) {
                case 'active':
                    $statusTd.css('color', '#1D4ED8');
                    break;
                case 'inactive':
                    $statusTd.css('color', '#DC2626');
                    break;
                default:
                    $statusTd.css('color', '#6B7280');
            }
        });
    }
    async function SetTeacherDetailData(teacherId) {
        try {
            const teacher = await TeacherService.getTeacherById(teacherId);
            document.getElementById("teacherId").textContent = teacher.id;
            document.getElementById("teacherFullName").textContent = teacher.fullName;
            document.getElementById("teacherSpecialization").textContent = teacher.specialization;
            document.getElementById("teacherQualification").textContent = teacher.qualification;
            document.getElementById("teacherPhoneNumber").textContent = teacher.phoneNumber;
            document.getElementById("teacherAddress").textContent = teacher.address;
            document.getElementById("teacherGender").textContent = teacher.gender;
            const account = teacher.accountResponse;
            document.getElementById("accountId").textContent = account.id;
            document.getElementById("accountUsername").textContent = account.username;
            document.getElementById("accountRole").textContent = account.role;
            document.getElementById("accountStatus").textContent = account.status ? "Kích hoạt" : "Vô hiệu hóa";
            document.getElementById("accountEmail").textContent = account.email || "N/A";
            document.getElementById("accountCreatedAt").textContent = account.createdAt;
            document.getElementById("accountUpdatedAt").textContent = account.updateAt;
            activeFloatBox("detailTeacher");
        } catch (error) {
            console.error("Lỗi khi lấy thông tin giáo viên:", error);
            alert("Không thể tải thông tin giáo viên. Vui lòng thử lại.");
        }
    }
    async function SetUpdateTeacherForm(teacherId) {
        try {
            const teacher = await TeacherService.getTeacherById(teacherId);
            document.getElementById("teacherIdInput").value = teacher.id;
            document.getElementById("teacherFullNameInput").value = teacher.fullName;
            document.getElementById("teacherSpecializationInput").value = teacher.specialization;
            document.getElementById("teacherQualificationInput").value = teacher.qualification;
            document.getElementById("teacherPhoneNumberInput").value = teacher.phoneNumber;
            document.getElementById("teacherAddressInput").value = teacher.address;
            document.getElementById("teacherGenderInput").value = teacher.gender ? "male" : "female";
            const account = teacher.accountResponse;
            document.getElementById("accountStatusInput").value = account.status ? "active" : "inactive";
            activeFloatBox("updateTeacher");
        } catch (error) {
            console.error("Lỗi khi lấy thông tin giáo viên:", error);
            alert("Không thể tải thông tin giáo viên. Vui lòng thử lại.");
        }
    }
    document.getElementById("saveTeacherButton").addEventListener("click", async function () {
        try {
            const teacherId = document.getElementById("teacherIdInput").value;
            const teacherDetail = await TeacherService.getTeacherById(teacherId);
            const accountId = teacherDetail.accountResponse.id;
            const teacherData = {
                fullName: document.getElementById("teacherFullNameInput").value,
                specialization: document.getElementById("teacherSpecializationInput").value,
                qualification: document.getElementById("teacherQualificationInput").value,
                phoneNumber: document.getElementById("teacherPhoneNumberInput").value,
                address: document.getElementById("teacherAddressInput").value,
                gender: document.getElementById("teacherGenderInput").value
            };

            await TeacherService.updateTeacher(teacherId, teacherData);

            await AccountService.updateAccountStatus(accountId, { status: document.getElementById("accountStatusInput").value==='active'?true:false });
            alert("Cập nhật thành công!");
            inactiveFloatBox("updateTeacher");
            await OnPageChange(currentPage);
        } catch (error) {
            console.error("Lỗi khi cập nhật dữ liệu:", error);
            alert("Cập nhật thất bại. Vui lòng thử lại.");
        }
    });
    document.getElementById("createTeacherButton").addEventListener("click", async function () {
        try {
            const teacherData = {
                fullName: document.getElementById("teacherFullName").value,
                specialization: document.getElementById("teacherSpecialization").value,
                qualification: document.getElementById("teacherQualification").value,
                phoneNumber: document.getElementById("teacherPhoneNumber").value,
                address: document.getElementById("teacherAddress").value,
                gender: document.getElementById("teacherGender").value
            };
            await TeacherService.addTeacher(teacherData);

            alert("Tạo giáo viên thành công!");
            inactiveFloatBox("createTeacher"); 
            await onLoadDg(); 
        } catch (error) {
            console.error("Lỗi khi tạo giáo viên:", error);
            alert("Không thể tạo giáo viên. Vui lòng thử lại.");
        }
    });
</script>